<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,100,0,0" />
    <link href="https://db.onlinewebfonts.com/c/875fffdfa62169a0f131e90f37f1faf4?family=MazzardH-Medium" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="small-navbar-container">
        <div class="sidebar" id="sidebar">
            <div class="home-sidebar">
                <div class="cross-sidebar">
                    <div  onclick="closeSidebar()"><img  src="images/Homepage/close.png"></div>
                </div>
                <div class="content-sidebar">
                    <div class="sidebar-item">
                        <a href="/"><span>Home</span></a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/products"><span>Shop</span></a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/services"><span>Services</span></a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/blog"><span>Blog</span></a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/contact"><span>Contact</span></a>
                    </div>
                    <div class="sidebar-item">
                        <a href="/profile"><span>Profile</span></a>
                    </div>
                    <div style="border: none;"  class="sidebar-item">
                        <a href="/myOrders"><span>My Orders</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay" onclick="toggleSidebar()"></div>
        <div  class="small-navbar-div">
            <div><img class="small-navbar-menu" src="/images/Homepage/menu64.png" onclick="toggleSidebar()"></div>
            <div><img  class="small-navbar-logo" src="/images/Homepage/logo.svg"></div>
            <a href="/goToCart"><div style="position: relative;"><img  class="icon-img-small-navbar" src="/images/Homepage/basket.png"><div class="smallCartCount"><%= cartCount %></div></div></a>
            
        </div>
    </div>
    <div class="upper-header-container">

        <form action="/search/product" method="post">
            <div class="upper-header">
                <div class="upper-left">
                        <img class="logo-img" src="/images/Homepage/logo.svg">       
                </div>
                <div class="upper-right">
                    <div class="search-container">
                        <div class="search-icon-div">
                            <img class="search-icon" src="/images/Homepage/search.png">
                        </div>
                        <input name="searchProductText" class="search-box" type="search" placeholder="Search products..">
                        <div class="search-text">
                           <button ype="submit"> Search</button>
                        </div>
                    </div>
                   <div class="icons-div-container">
                    <div class="icons-div">
                        
                        <div class="icon profile dropdown" <% if (locals.auth === 'auth') { %>style="background-color: #a8b324;"<% } %>> 
                            <img class="icon-img dropbtn" src="/images/Homepage/profile.png">
                            <div class="dropdown-content"> 
                                <% if (locals.auth == 'notAuth') { %>
                                    <h2>Welcome</h2>
                                    <p>To access account and manage orders</p>
                                    <a href="/login"><div class="login"><span >LOGIN / SIGNUP</span></div></a>
                                <% } else { %>
                                    <h2>Welcome, <%= locals.userName %></h2>
                                    <a href="/profile" style="padding: 4px; font-size: 1.1rem; color: #a0a0a0;">Profile</a>
                                    <a href="/myOrders" style="padding: 4px; font-size: 1.1rem; margin-bottom: 8px; color: #a0a0a0;"    >My Orders</a>
                                    <a href="/logout"><div class="login"><span >LOGOUT</span></div></a>
                                <% } %>
                            </div>
                        </div> 
    
                        <a class="icon" href="/wishlist"><div class="icon heart"><img class="icon-img" src="/images/Homepage/heart.png"></div><div class="wishlistCount"><%= wishlistCount %></div></a>
                        <a class="icon" href="/goToCart"><div class="icon basket"><img class="icon-img" src="/images/Homepage/basket.png"></div><div class="cartCount"><%= cartCount %></div></a>
                        <span class="paymentHome">£<%= paymentPrice %></span>
                    </div>
                   </div>
                </div>
            </div>
        </form>

    </div>

    <div style="padding: 0;" class="below-header-container">
        <div style="border-radius: 0;" class="content-div">
            <div class="left-content">
                <div class="left-shop-dept">
                    <button class="shop-dept-button">
                        <div class="menu-icon-div">
                            <img class="menu-icon" src="/images/Homepage/menu64.png">
                        </div>
                        <p>Shop by Department</p>
                    </button>
                </div>
                <div style="border: 1px solid rgb(158, 156, 156); height: 60%;"></div>
                <div class="left-nav">
                    <span class="left-nav-text"><a <% if (locals.activePage === 'home') { %>style="color: #a8b324;"<% } %> href="/">Home</a>
                        <img class="down-arrow" src="/images/Homepage/down-arrow.png"></span>
                    <span class="left-nav-text"><a <% if (locals.activePage === 'products') { %>style="color: #a8b324;"<% } %>  href="/products">Shop</a> <img class="down-arrow" src="/images/Homepage/down-arrow.png"></span>
                    <span class="left-nav-text"><a href="/services">Services</a> <img class="down-arrow" src="/images/Homepage/down-arrow.png"></span>
                    <span class="left-nav-text"><a href="/blog">Blog</a><img class="down-arrow" src="/images/Homepage/down-arrow.png"></span>
                    <span class="left-nav-text contact-nav-text"><a <% if (locals.activePage === 'contact') { %>style="color: #a8b324;"<% } %>  href="/contact">Contact</a></span>
                </div>
            </div>

            <div class="right-content">
                <img class="headphone" src="/images/Homepage/headphones.png">
                (1800)-88-66-991
            </div>
        </div>
    </div>
</body>
</html>